@use "./colors.scss";
@use "./breakpoints.scss";


.about {
    z-index: 2000;
}

.brackets {
    font-size: 30px !important;
}

#about-img {
    // height: 300px;
    width: 100%;
    // box-shadow: 0 10px 30px -15px black;
    border-radius: 10px;
    border: 0px;
    // display: inline !important;
    z-index: 3000 !important;
}

.hobbies-row {
    // padding: 0 0 2% 0;
    width: 100%;

    .col {
        text-align: left;
    }
}

.about-icon-span {
    margin-right: 5%;
    font-size: 22px;
}

#about-me-desc {
    p {
        padding-top: 2%;
    }
}

.strong {
    color: colors.$accent;
    font-weight: bolder;
}




@media (max-width:breakpoints.$tablet) {
    #about-me-desc {
        font-size: 14px !important;
        text-align: center !important;
    }
    
    .brackets {
        font-size: 25px !important;
    }
}

// @media (max-width:breakpoints.$tablet-min) {
//     .brackets {
//         font-size: 25px !important;
//     }
// }

// @media (max-width:breakpoints.$phone) {
//     #about-me-desc {
//         font-size: 12px;
//     }

//     .brackets {
//         font-size: 20px !important;
//     }
// }