@use "./colors.scss";
@use "./breakpoints.scss";

// merriweather,serif

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

#main-container {
    // background-color: colors.$light-pink !important;
    background: linear-gradient(colors.$light-pink , colors.$darkest-pink );;
    height: 100vh !important;
    width: 100% !important;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.container {
    width: 100% !important;
    margin: 0 !important;
}

#background-wave {
    position: fixed;
    top: 0 !important; 
    left: 0;  
    padding: 0;
    z-index: 0;

    path {
        fill: colors.$darker-pink !important;
        stroke: white !important;
    }
}

.element {
    text-align: center;
    padding: 0;
    font-family: 'Roboto Slab', serif !important;
    display: block !important;
    z-index: 2000;
}

.section-container {
    margin: 8% 5% 1% 5%;
    // width: 100% !important;
    // height: 100vh;
    text-align: center !important;
    z-index: 2000;
}

.header {
    font-size: 50px;
    margin-bottom: 2%;
    text-align: left;
    color: colors.$darkest-gray;
}

.subheader {
    font-size: 25px;
    color: colors.$darkest-gray;
    font-weight: bold;
}

#whitePane {
    background-color: rgba(255,255,255,1);
    padding: 3%;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 10px 10px 56px -26px rgba(0,0,0,0.55);
    text-align: left !important;
    z-index: 2000;
}

@media (max-width: breakpoints.$laptop-1200) {
    #background-wave {
        top: 5%;
    }
}

@media (max-width: breakpoints.$laptop-1000) {
    #background-wave {
        height: 2500px;
        z-index: 0;
    }
}



@media (max-width:breakpoints.$phone) {

    #background-wave {
        top: 0% !important;
        height: 4500px;
        // display: none;
    }  

    #whitePane {
        font-size: 12px !important;
        text-align: left !important;
    }
}