@use "./colors.scss";
@use "./breakpoints.scss";


.contact-content {
    // text-align: center;
    h3 {
        margin-bottom: 2%;
    }
    
    p {
        svg {
            font-size: 30px;
            margin-right: 5%;
        }
    }
}