/* INITIAL SETUP */
@use "./colors.scss";

#left-col {
    width: 25% !important;
    background-color: colors.$darker-gray;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    min-height: 100vh;
}

#right-col {
    width: 75% !important;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    min-height: 100vh;
    background-color: colors.$light-pink;
}

.container-fluid {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
}


#background-wave {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;  

    path {
        fill: colors.$darker-pink;
        stroke: white;
    }
}

/* HOME */
.home-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: 0 5%;
    text-align: center !important;
}

.my-details {
    vertical-align: middle !important;
    position: relative; 
    top: 30%;
    text-align: left;
    font-family: 'Roboto Slab', serif;

    h1 {
        font-size: 60px;
        font-weight: bolder;
    }

    p {
        font-size: 20px;
        color: colors.$darker-gray;
    }
}

#avatar-col {
    height: 300px;
    width: 200px !important;
}

.avatar {
    min-width: 80%;
    min-height: 100%;
    position: relative;
    border-radius: 100%;
    margin: 0 5% !important;
    text-align: left;
}

.avatar-img {
    background-image: url('../images/sivan.jpg') !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
}

/* NAV */
.nav-list {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: 0;
    text-align: center !important;

    a.inactive {
        list-style: none;
        display: block;
        text-align: left;
        font-size: 25px;
        margin: 4% 0;
        color: colors.$inactive-link !important;
        text-decoration: none;
    }

    a.active {
        list-style: none;
        display: block;
        text-align: left;
        font-size: 25px;
        margin: 4% 0;
        color: colors.$active-link !important;
        text-decoration: none;
    }
}

.nav-list-item span {
    padding-left: 5% !important;
}