/* INITIAL SETUP */
@use "./colors.scss";
@use "./breakpoints.scss";

#main-row {
    padding: 0 !important;
    margin: 0 !important;
}

.row, .col-12  {
    padding: 0 !important;
    margin: 0 !important;
}

#left-col {
    padding: 0 !important;
    width: 25% !important;
    background-color: colors.$darker-gray;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    height: 100vh;
    z-index: 2000 !important;
}

#right-col {
    width: 75% !important;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    background-color: colors.$light-pink;
}

.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    overflow: hidden;
    clear: both;
    float: left;
    position: relative;
}


#background-wave {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;  

    path {
        fill: colors.$darker-pink;
        stroke: white;
    }
}

#footer {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    margin: 0 2%;
    text-align: right !important;
    color: colors.$darker-gray;
    font-weight: bold;
    font-size: 1vw;
}


/* HOME */
.home-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: 0 5%;
    text-align: center !important;
}

.my-details {
    vertical-align: middle !important;
    position: relative; 
    top: 30%;
    text-align: left;
    font-family: 'Roboto Slab', serif;

    h1 {
        font-size: 4vw;
        font-weight: bolder;
    }

    p {
        font-size: 18px;
        color: colors.$darker-gray;
    }
}

#smaller {
    font-family: 'Roboto Slab', serif;
    margin-top: 8% !important;
    font-size: 22px;
}

#avatar-col {
    height: 300px;
    width: 200px !important;
    padding: 0 !important;
}

.avatar {
    width: 80%;
    height: 100%;
    position: relative;
    // border-radius: 100%;
    margin: 0 5% !important;
    text-align: left;
}

@keyframes rotate {
    to {
      --angle: 360deg;
    }
    
}

@keyframes conic-gradient {
    50% {
        --angle: 0%;
    }

    85% {
        --angle: 100%;
    }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 10deg;
  inherits: false;
}

.avatar-img {
    position: absolute;
    top: 4%;
    bottom: 4%;
    left: 4%;
    right: 4%;
    background-image: url('../images/sivan.jpg') !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    padding: 2% !important;
}

#gradient {
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    --angle: 0deg;
    background-image: conic-gradient(from var(--angle), colors.$light-pink, colors.$darker-pink, colors.$darkest-pink, #000, colors.$darkest-gray, colors.$darker-gray, colors.$inactive-link, colors.$active-link) !important;
    animation: 5s rotate linear infinite;
    will-change: transform, background-image;
    box-shadow: 10px 6px 24px -7px rgba(0,0,0,0.51);
}

@media (max-width: breakpoints.$laptop-1250) {
    #avatar-col {
        height: 250px;
    }   

    .avatar {
        width: 85%;
        margin: 0 !important;
    }
}

@media (max-width: breakpoints.$laptop-1000) {
    .home-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
    }

    #avatar-col {
        flex: auto;
        display: block !important;
        width: 100% !important;
    }

    #gradient {
        position: relative;
        height: 100% !important;
        width: 50%;
        margin: 0 25%;
    }

    h6#smaller {
        margin-top: 10% !important;
        font-size: 18px;
    }
    
    .avatar-img {
        width: 92%;
        margin: 0%;
        text-align: center;
    }

    #details-col {
        flex: auto;
        display: block !important;
        width: 100%;
        margin: 0 15%;
    }

    .my-details {
        text-align: center;

        p {
            margin-top: 0% !important;
            font-size: 14px;
        }
    }

    .avatar {
        width: 100% !important;
        margin: 0;
    }
}


@media (max-width: breakpoints.$tablet) {
    #main-row {
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
    }

    #left-col {
        display: block !important;
        width: 100% !important; 
        // background-color: colors.$darker-pink;
        height: 10vh !important;
    }

    #right-col {
        width: 100% !important;
        flex: auto;
        display: block !important;
    }

    #background-wave {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;  
    
        path {
            fill: colors.$darker-pink;
            stroke: white;
        }
    }

    .add-padding-when-smaller {
        padding: 0 10% !important;
    }

    .home-details {
        width: 100% !important;
        margin-bottom: 20% !important;
    }

    #details-col {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }

    .my-details {
        width: 100% !important;
        padding: 0 10% !important;
        
        h1 {
            font-size: 6vw;
            font-weight: bolder;
        }

        p {
            font-size: 16px;
        }
    }

    .avatar {
        margin: 0 !important;
        width: 100% !important;
    }

    #avatar-col {
        height: 300px;
    }  
    
    #gradient {
        position: relative;
        height: 100% !important;
        width: 40%;
        margin: 0 30%;
    }
    
    .avatar-img {
        width: 92%;
        margin: 0%;
        text-align: center;
    }

    #footer {
        font-size: 2vw;
    }

    h6#smaller {
        margin-top: 10% !important;
        padding: 0 10% !important;
    }
}

@media (max-width: breakpoints.$tablet-700) {
    #gradient {
        position: relative;
        height: 100% !important;
        width: 40%;
        margin: 0 30%;
    }
    
    .avatar-img {
        width: 92%;
        margin: 0%;
        text-align: center;
    }

    #avatar-col {
        height: 250px;
    }  

    #smaller {
        margin-top: 5% !important;
    }
    
}

@media (max-width: breakpoints.$tablet-min) {
    #gradient {
        position: relative;
        height: 100% !important;
        width: 40%;
        margin: 0 30%;
    }
    
    .avatar-img {
        width: 92%;
        margin: 0% !important;
        text-align: center;
    }

    #avatar-col {
        height: 225px;
    }  

    #smaller {
        margin-top: 5% !important;
    } 

    .avatar {
        margin: 0 !important;
        width: 100% !important;

    }
}

@media (max-width: breakpoints.$phone) {
    #avatar-col {
        height: 225px;
    }  

    #gradient {
        position: relative;
        height: 100% !important;
        width: 60%;
        margin: 0 20%;
    }

    .avatar-img {
        width: 92%;
        height: 92%;
        margin: 0 15%;
        text-align: center;
    }

    .my-details {
        p {
            font-size: 12px;
        }
    }

    #smaller {
        font-size: 12px;
    }
}
