@use "./colors.scss";
@use "./breakpoints.scss";

.nav-list {
    // display: flex !important;
	text-align: right !important;
	position: fixed !important;
	z-index: 2;
	height: 70px;
	min-height: 70px;
	width: 100%;
    color: white;
	background-color: colors.$darker-gray !important;
	padding: 0 1rem;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);

    ul {
        text-align: right !important;
    }
}

.main-nav-link {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: colors.$inactive-link !important;
}

a.active {
    color: colors.$active-link !important;
    text-decoration: none !important;
}

.nav-list.active {
    height: 100%;
}

.nav-title {
    cursor: pointer;
    display: inline-block !important;
    vertical-align: bottom !important;
}

a .nav-title:before, a .nav-title:after{
    opacity: 0;
    font-size: 25px;
    top: 0px;
    transition: all 0.3s;
}

a .nav-title:before, a .nav-title:after{
    opacity: 0;
    font-size: 25px;
    top: 0px;
    transition: all 0.3s;
}

a .nav-title:before{
    content: ' { ';
    left: 0px;
    transform: translateX(50px);
}

a .nav-title:after{
    content: ' } ';
    right: 0px;
    transform: translateX(-50px);
}

a.active .nav-title:before {
    visibility: hidden;
}
a.active .nav-title:after {
    visibility: hidden;
}

a .nav-title:hover:before, a .nav-title:hover:after{
    cursor: pointer;
    opacity: 1;
    transform: translateX(10px);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


@media (max-width: breakpoints.$tablet) {
    .nav-list {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        // background-color: #fff;
        width: 100%;
        // border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);

    }

    .nav-list.active {
        left: 0;
    }

    .main-nav-link {
        width: 100% !important;
        // margin: 2.5rem 0;
    }

    .hamburger {
        display: block !important;
        text-align: right !important;
        position: fixed !important;
        right: 5%;
        top: 5%;
        cursor: pointer !important;
        z-index: 3000 !important;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}