@use "./colors.scss";
@use "./breakpoints.scss";

/* NAV */
.nav-list {
    color: white;
    position: absolute;
    left: 46%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    a.inactive {
        width: 100% !important;
        font-size: 2vw;
        color: colors.$inactive-link !important;
        text-decoration: none;
        transition: all ease-in-out .2s;
    }

    a.active {
        width: 100% !important;
        font-size: 2vw;
        color: colors.$active-link !important;
        text-decoration: none;
        transition: all ease-in-out .2s;
    }

    svg {
        margin-right: 10%;
        font-size: 2vw;

    }

    a:before, a:after{
        opacity: 0;
        font-size: 35px;
        margin: 0 5%;
        top: 0px;
        transition: all 0.3s;
    }

    a:before{
        content: '{';
        left: 0px;
        transform: translateX(50px);
    }

    a:after{
        content: '}';
        right: 0px;
        transform: translateX(-50px);
    }

    a.active:before {
        visibility: hidden;
    }
    a.active:after {
        visibility: hidden;
    }

    a:hover:before, a:hover:after{
        opacity: 1;
        transform: translateX(10px);
    }

    // .nav-list-item span {
    //     padding-left: 5% !important;
    // }
}

.flex-column.justify-content-end.navbar-nav {
    background-color: colors.$darker-gray;
    width: 100% !important;
    display: flex;
}

.navbar-light .navbar-toggler {
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    border: none;
    color: rgba(0,0,0,0)
}

.navbar-light .navbar-toggler.collapsed {
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    border-color: colors.$darker-gray;
    outline: 0 !important;
    border: none !important;
    outline: none !important;
    background: none !important;
    transition: none !important;

}
.navbar-light .navbar-toggler.collapsed:focus {
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    border: 0 !important;
    outline: none !important;
    background: none !important;
    box-shadow: 0 0 0 0rem !important;
}

@media (max-width: breakpoints.$laptop-1000){
    .nav-list{
        a.inactive, a.active {
            font-size: 2.5vw !important;
        }
    }
}

@media (max-width: breakpoints.$tablet) {
    .navbar-collapse {
        width: 100% !important;
    }
    .nav-list {
        overflow-y: visible !important;
        width: 100% !important;
        height: 10vh;
        position: absolute;
        left: 50% !important;
        margin: 1% 0 !important;

        a.active, a.inactive{
            font-size: 3vw !important;
            text-align: center !important;
            margin: 0;
        }
    }

    a:before, a:after{
        opacity: 0;
        font-size: 25px;
        margin: 0 5%;
        top: 0px;
        transition: all 0.3s;
    }
}