@use "./colors.scss";
@use "./breakpoints.scss";

.skills-row {
    // margin-bottom: 3% !important;
    margin: 0 5% 3% 5% !important;
    width: 100%;

    li {
        margin-bottom: 2%;
    }
}

.skills-header {
    font-size: 20px !important;
    color: colors.$darker-gray;
    font-size: 24px !important;
    font-weight: bold;
    margin-bottom: 2%;
}

