@use "./colors.scss";
@use "./breakpoints.scss";

.skills-row {
    // margin-bottom: 3% !important;
    margin: 0 5% 5% 5% !important;
    width: 100%;

    li {
        margin-bottom: 2%;
    }
}

.skills-header {
    color: colors.$darker-gray;
    font-size: 24px !important;
    font-weight: bold;
    margin-bottom: 2%;
}

.badge, .bg-primary {
    background-color: colors.$hover-link !important;
    color: colors.$darker-gray;
    margin-right: 1%;
    margin-bottom: 1%;
    font-size: 16px;
}

