@use "./colors.scss";
@use "./breakpoints.scss";

.skills-row {
    text-align: center;
    color: colors.$darker-gray;
    font-size: 24px !important;
    // margin-bottom: 3% !important;
    margin: 0 0 3% 0 !important;
    width: 100%;
    text-align: center;
}

.skills-header {
    font-size: 20px !important;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
}

.skills-text {
    font-size: 12px;
    padding-top: 2%;
    padding-bottom: 5%;
    font-weight: bolder;
    text-align: center;  
}